
/.idea
**/migrations
**/__pycache__
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/ParqueInfantil/api/__pycache__
/ParqueInfantil/api/migrations
*.pyc
/ParqueInfantil/ParqueInfantil/__pycache__
/ParqueInfantil/api/migrations
ParqueInfantil/api/migrations/0001_initial.py
