body {
    background: #202020;
    color: #698fb5;
}

.home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}